.sq-img{
    height: 140px;
    width: 140px;
    margin: 10px;
    object-fit: cover;
}

.round-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.rsp-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}